/* Custom Badges + Profile pics*/

/* General */
#chat .badge-box i,
.right-side-wrapper #chat .badge-box .icon-arrow-down {
    transform: scale(1) !important;
}

#chat-messages .badge-box {
    background: none !important;
}
/* Join and Leave messages */
.rsshit.sml.rs-log-user-sitemod-join .badge-box,
.rsshit.sml.rs-log-user-sitemod-leave .badge-box {
    margin: 6px 0px 0px 15px !important;
}

    .rsshit.sml.rs-log-user-sitemod-join .badge-box i,
    .rsshit.sml.rs-log-user-sitemod-leave .badge-box i {
        background: url(https://i.imgur.com/LngjoKU.png);
    }

/* Custom Plug Icons */
.icon-chat-sitemod {
    width: 13px;
    height: 15px;
    background: url(https://i.imgur.com/LngjoKU.png);
}
/*
.icon-chat-promoter {
    width: 13px;
    height: 15px;
    background: url(https://i.imgur.com/LngjoKU.png);
}
*/
/* Filunovic */
#chat-messages .id-15296765 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-15296765 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-15296765 .badge-box i.bdg,
    #chat-messages .id-15296765 .badge-box i.bdg {
        background-image: url("https://i.imgur.com/70ue9G8.gif");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }
/*User Background*/
.cm.id-15296765::before {
    background-image: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    transition: 0.4s;
}
/* Profile Icon */
.id-15296765 .avi,
.id-15296765 .thump.large .avi, .id-15296765 .thumb.large .avi.avi {
    top: -36px !important;
    left: -35px !important;
    position: absolute !important;
    width: 150px !important;
    height: 150px !important;
    background: url(https://i.imgur.com/fWOr9IF.png);
}
/*Small Icon Fix*/
.id-15296765 .avatar-wrapper.thumb.small .avi,
.id-15296765 .right-side-wrapper .thumb.small .avi,
.id-15296765 .thumb.small .avi {
    background: url(https://i.imgur.com/Y0bSEN5.png) !important;
    left: -25px !important;
    top: -26px !important;
}
/* Baronhumus */
#chat-messages .id-45902975 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-45902975 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-45902975 .badge-box i.bdg,
    #chat-messages .id-45902975 .badge-box i.bdg {
        background-image: url("https://i.imgur.com/dRBO7u4.gif");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
/*Feyr*/
/* Profile Icon */

.id-5266523 .avi,
.id-5266523 .thump.large .avi, .id-5266523 .thumb.large .avi.avi {
    top: -37px !important;
    left: -37px !important;
    width: 150px !important;
    height: 150px !important;
    background: url(https://i.imgur.com/wOBooNS.png);
}
/*Small Icon Fix*/

.id-5266523 .avatar-wrapper.thumb.small .avi,
.id-5266523 .right-side-wrapper .thumb.small .avi,
.id-5266523 .thumb.small .avi {
    background: url(https://i.imgur.com/my9wVQ0.png) !important;
    left: -25px;
    top: -26px !important;
}

/* M4-eek */
#chat-messages .id-48850638 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-48850638 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-48850638 .badge-box i.bdg,
    #chat-messages .id-48850638 .badge-box i.bdg {
        background-image: url("https://i.imgur.com/lVh4Jhz.gif");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }

/* aMorty */
#chat-messages .id-51546705 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-51546705 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-51546705 .badge-box i.bdg,
    #chat-messages .id-51546705 .badge-box i.bdg {
        background-image: url("https://i.imgur.com/E5N8j16.gif");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }

/* Tichus */
#chat-messages .id-48786549 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-48786549 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-48786549 .badge-box i.bdg,
    #chat-messages .id-48786549 .badge-box i.bdg {
        background-image: url("https://i.imgur.com/7SBjLUl.gif");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }

/* Corlasss */
#chat-messages .id-48159817 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-48159817 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-48159817 .badge-box i.bdg,
    #chat-messages .id-48159817 .badge-box i.bdg {
        background-image: url("https://i.imgur.com/6PJa7Sb.gif");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }

/* Bepix */
#chat-messages .id-39496488 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-39496488 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-39496488 .badge-box i.bdg,
    #chat-messages .id-39496488 .badge-box i.bdg {
        background-image: url("https://i.imgur.com/fwaEUqt.jpg");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }

/* AZZI */
#chat-messages .id-49182513 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-49182513 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-49182513 .badge-box i.bdg,
    #chat-messages .id-49182513 .badge-box i.bdg {
        background-image: url("https://i.imgur.com/VR84hZL.png");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }

/* krekevyks */
#chat-messages .id-4849016 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-4849016 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-4849016 .badge-box i.bdg,
    #chat-messages .id-4849016 .badge-box i.bdg {
        background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/b6617b5f-a688-4f2c-bee2-6f7fbc01b917-profile_image-300x300.png");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }

/* Pepa */
#chat-messages .id-51638420 .badge-box {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

    #chat-messages .id-51638420 .badge-box:hover {
        width: 65px;
        height: 65px;
        transition: 0.5s;
    }

    /*User Badge*/
    #user-rollover.id-51638420 .badge-box i.bdg,
    #chat-messages .id-51638420 .badge-box i.bdg {
        background-image: url("https://i.imgur.com/XoaZyTn.png");
        background-size: cover;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        background-position: initial;
        position: absolute;
        top: 0px;
        left: 0px;
    }