/* Editace vzhledu elementu */

#user-lists .list.staff .group.host {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 36px;
    border-top: 3px solid #d8a418;
    border-right: 3px solid #d8a418;
    border-bottom: 3px solid #d8a418;
    background: #9e780cab;
}

    .icon-chat-host {
        background-position: 0px 0px;
        width: 20px;
        height: 15px;
        background: url(https://i.imgur.com/IkSiN44.png);
    }

#user-lists .list.staff .group.manager {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 36px;
    border-top: 3px solid #004efd;
    border-right: 3px solid #004efd;
    border-bottom: 3px solid #004efd;
    background: #07bee7;
}

    .icon-chat-manager {
        background-position: 0px 0px;
        width: 15px;
        height: 15px;
        background: url(https://i.imgur.com/90FiGqA.png);
    }

#user-lists .list.staff .group.bouncer {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 36px;
    border-top: 3px solid #3aff41;
    border-right: 3px solid #3aff41;
    border-bottom: 3px solid #3aff41;
    background: #319734;
}

    .icon-chat-bouncer {
        background-position: 0px 0px;
        width: 15px;
        height: 15px;
        background: url(https://i.imgur.com/4xzZGKC.png);
    }

#user-lists .list.staff .group.dj {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 36px;
    border-top: 3px solid #bd008f;
    border-right: 3px solid #bd008f;
    border-bottom: 3px solid #bd008f;
    background: #6d1557;
}

    .icon-chat-dj {
        background-position: 0px 0px;
        width: 15px;
        height: 15px;
        background: url(https://cdn.discordapp.com/attachments/728370089258123265/728600509564583977/VIP.png);
    }
/* INFO PAGE */
  /* Pozadi */
#preview-about .top-about {
    height: 350px;
    width: 100%;
    background: url(https://i.imgur.com/03GRy6T.png) no-repeat 0 0;
    background-size: cover;
    background-position: center top;
    position: relative;
    z-index: -1;
}

/* Ikona */
#preview-about .top-profile .top-profile__image {
    width: 200px;
    min-width: 200px;
    height: 200px;
    border: 3px solid #000;
    background: url(https://i.imgur.com/fyk6GjE.png) no-repeat 0 0;
    background-position: center;
    background-size: cover;
    margin: 0 auto 20px 0 0 !important;
}
/* Program */

#rcs-style-anchor-1 {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 5px !important;
    border: 1px solid #9c339c !important;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 120px;
    right: 355px !important;
    z-index: 9;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 33px !important;
    max-width: 290px !important;
    max-height: 350px !important;
    height: 35px;
    width: 120px;
    transition: 0.5s;
}

    #rcs-style-anchor-1:before {
        display: block;
        position: absolute;
        top: 8px;
        left: 8px;
        content: "📅 Program";
        font-size: 16px;
        color: #a61f9d;
    }

    #rcs-style-anchor-1.toggled:before {
        content: '📅 Program';
    }

    #rcs-style-anchor-1.toggled {
        background-image: url(https://i.imgur.com/8Tf38RH.png) !important;
        width: 290px !important;
        height: 165px !important;
    }

/*
#rcs-style-anchor-0 {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 5px !important;
    border: 1px solid #d40000 !important;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 160px;
    right: 355px !important;
    z-index: 9;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 33px !important;
    max-width: 290px !important;
    max-height: 350px !important;
    height: 35px;
    width: 120px;
    transition: 0.5s;
}

    #rcs-style-anchor-0:before {
        display: block;
        position: absolute;
        background-image: url(https://i.imgur.com/Y1hyjQz.png);
        background-size: 35%;
        background-repeat: no-repeat;
        top: 8px;
        left: 8px;
        content: " ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‏‏‎ ‎‏‏‎ ‎‎YT FIX";
        font-size: 16px;
        color: #d40000;
    }

    #rcs-style-anchor-0.toggled:before {
        content: ' ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‏‏‎ ‎‏‏‎ ‎‎YT FIX';
    }

    #rcs-style-anchor-0.toggled {
        background-image: url(null) !important;
        width: 290px !important;
        height: 165px !important;
    }
    */
/* Dialog */
#dialog-alert, #dialog-confirm {
    width: 510px;
    height: 256px;
}

.dialog {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 510px;
    background: #5e167085;
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    vertical-align: middle;
    white-space: normal;
}

.dialog-body {
    position: relative;
    width: 100%;
    background: #0000008c;
}

.dialog-frame .button.submit, .rs .button.submit {
    color: #eee;
    background: linear-gradient(to bottom,#32b722b5 0,#1bff0040 100%) !important;
}

    .dialog-frame .button.submit:hover, .rs .button.submit:hover {
        background: linear-gradient(to bottom,#16cc00 0,#1bff006e 100%) !important;
    }

.dialog-frame .button.cancel {
    color: #eee !important;
    background: linear-gradient(to bottom,#ff00008c 0,#54222294 100%) !important;
}

    .dialog-frame .button.cancel:hover {
        color: #eee;
        background: linear-gradient(to bottom,#ff0000cf 0,#a21515a6 100%) !important;
    }


/* Playlist */
.community .community__playlist--desktop, .community .community__playlist--mobile {
    background-color: #27083ef2;
}

#playlist-panel {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    height: 54px;
    background: #160218f0;
}

@media (min-width: 768px) #playlist-panel.playlist--override #playlist-menu {
    height: calc(100% - 94px)!important;
    width: 20%;
    min-width: 280px;
    max-width: 280px;
    margin: 0 15px;
    box-sizing: border-box;
    background: rgb(38 2 57 / 68%);
    border: black solid;
}

#playlist-panel.playlist--override #playlist-menu .menu .row {
    height: auto;
    background-color: rgb(57 3 61 / 33%);
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,.1);
    color: #fff;
    opacity: .6;
    transition: all .3s;
}

    #playlist-panel.playlist--override #playlist-menu .menu .row:hover {
        height: auto;
        background-color: #52055a;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid rgba(255,255,255,.1);
        color: #fff;
        opacity: .6;
        transition: all .3s;
    }

    #playlist-panel.playlist--override #playlist-menu .menu .row.selected {
        height: auto;
        background-color: rgb(203 16 216 / 33%) !important;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid rgba(255,255,255,.1);
        color: #efff00;
        opacity: .6;
        transition: all .3s;
    }


#playlist-panel.playlist--override #media-panel .media-list .jspContainer .jspPane .container-fluid .row .meta {
    width: 40%;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    box-shadow: none;
    border-bottom: black solid;
    color: #fff;
}

#playlist-panel.playlist--override #search #search-bar {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0;
    width: 100%;
    background-color: #6c6c6c36;
    border: none;
    box-shadow: none;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

#playlist-panel.playlist--override #search .menu__wrapper #search-menu {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    margin: 0;
    background: #000000;
    width: auto;
}

    #playlist-panel.playlist--override #search .menu__wrapper #search-menu .selected {
        background: #6c6c6c00;
        top: 13px;
        height: 100%;
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

#playlist-panel.playlist--override #search #filter #filter-bar {
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: none;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    background-color: #6c6c6c36;
}

#playlist-panel.playlist--override #media-panel .media-list .jspContainer .jspPane .container .row.in-history, #playlist-panel.playlist--override #media-panel .media-list .jspContainer .jspPane .container-fluid .row.in-history {
    background-color: rgb(255 0 0 / 15%);
}