/* Editace vzhledu elementu */

#user-lists .list.staff .group.host {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 36px;
    border-top: 3px solid #d8a418;
    border-right: 3px solid #d8a418;
    border-bottom: 3px solid #d8a418;
    background: #9e780cab;
}

    .icon-chat-host {
        background-position: 0px 0px;
        width: 20px;
        height: 15px;
        background: url(https://i.imgur.com/IkSiN44.png);
    }

#user-lists .list.staff .group.manager {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 36px;
    border-top: 3px solid #004efd;
    border-right: 3px solid #004efd;
    border-bottom: 3px solid #004efd;
    background: #07bee7;
}

    .icon-chat-manager {
        background-position: 0px 0px;
        width: 15px;
        height: 15px;
        background: url(https://i.imgur.com/90FiGqA.png);
    }

#user-lists .list.staff .group.bouncer {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 36px;
    border-top: 3px solid #3aff41;
    border-right: 3px solid #3aff41;
    border-bottom: 3px solid #3aff41;
    background: #319734;
}

    .icon-chat-bouncer {
        background-position: 0px 0px;
        width: 15px;
        height: 15px;
        background: url(https://i.imgur.com/4xzZGKC.png);
    }

#user-lists .list.staff .group.dj {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 36px;
    border-top: 3px solid #bd008f;
    border-right: 3px solid #bd008f;
    border-bottom: 3px solid #bd008f;
    background: #6d1557;
}

    .icon-chat-dj {
        background-position: 0px 0px;
        width: 15px;
        height: 15px;
        background: url(https://cdn.discordapp.com/attachments/728370089258123265/728600509564583977/VIP.png);
    }
/* INFO PAGE */
  /* Pozadi */
#preview-about .top-about {
    height: 350px;
    width: 100%;
    background: url(https://i.imgur.com/03GRy6T.png) no-repeat 0 0;
    background-size: cover;
    background-position: center top;
    position: relative;
    z-index: -1;
}

/* Ikona */
#preview-about .top-profile .top-profile__image {
    width: 200px;
    min-width: 200px;
    height: 200px;
    border: 3px solid #000;
    background: url(https://i.imgur.com/fyk6GjE.png) no-repeat 0 0;
    background-position: center;
    background-size: cover;
    margin: 0 auto 20px 0 0 !important;
}